<!doctype html>
<html lang="en" class="logo-visible text-sm sm:text-base">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>.NET Usergroup | Meetup Dortmund Keynote</title>
    <meta name="description" content=".NET Usergroup | Meetup Dortmund Keynote">
    <link rel="stylesheet" href="main.css">
    <meta itemprop="name" content=".NET Usergroup | Meetup Dortmund Keynote">
    <meta itemprop="description" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Fullscreen | reveal.js">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="@paulmizel">
    <meta name="twitter:creator" content="@paulmizel">
    <meta name="twitter:image:src" content="https://revealjs.com/images/meta/reveal-twitter-card-1024x512.png">
    <meta property="og:title" content=".NET Usergroup | Meetup Dortmund Keynote">
    <meta property="og:description" content="">
    <meta property="og:image" name="image" content="https://revealjs.com/images/meta/reveal-og-card-1200-630.png">
    <meta property="og:url" content="https://do-dotnet.de/keynote/">
    <meta property="og:site_name" content="reveal.js">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="canonical" href="https://do-dotnet.de/keynote/">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" media="print"
        onload="this.onload=null;this.removeAttribute('media');" rel="stylesheet" data-application-font="inter">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"
            data-application-font="inter">
    </noscript>

    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="dist/theme/simple.css">
    <link rel="stylesheet" href="plugin/fullscreen-img/fullscreen-img.css">    
    <link rel="stylesheet" href="plugin/fullscreen/fullscreen.css">    
</head>

<body data-page="fullscreen" class="text-gray-900 leading-10 bg-gray-100">

    <main class="main py-24 w-full min-h-screen lg:static lg:max-h-full lg:overflow-visible lg:w-1/6">
        <article class="article flex flex-1 flex-col focus:outline-none w-full max-w-6xl ml-auto mr-auto px-6"
            tabindex="-1">
            <div class="reveal reveal-example">
                <div class="slides">
                    <section class="fragment fullscreen cover" src="img/cover_image.jpg">Click here to focus, then the F key.</section>
                    <section>Slide 2</section>

                    <section class="fragment fullscreen cover" src="img/cover_image.jpg" >
                        
                        Slide 3


                    </section>
                </div>
            </div>
        </article>
    </main>


    <script src="jquery-3.7.0.min.js" defer="defer"></script>
    <script src="dist/reveal.js" defer="defer"></script>
    <script src="plugin/fullscreen/plugin.js" defer="defer"></script>
    
    <script>
        setTimeout(function () {
            Reveal.initialize({                
                embedded: true,
                transition: 'none',
                plugins: [ RevealFullscreen ],
                dependencies: [
          // Syntax highlight for <code> elements
             { src: 'plugin/fullscreen-img/fullscreen-img.js' },

        ]
            });
        }, 100);
    </script>

</body>

</html>