<!DOCTYPE html>
<html lang="en">
<head>
    <title>.NET Usergroup | Meetup Dortmund Keynote</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="shower/themes/ribbon/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        .shower {
            --slide-ratio: calc(16 / 9);
        }
        h2 {
            font-family: "Agency FB" !important;
        }
        body{
            font-family: "Agency FB" !important;
        }
    </style>
</head>
<body class="shower list">

    <header class="caption">
        <h1>.NET Usergroup | Meetup Dortmund Keynote</h1>
        <p><script>document.write(new Date().toLocaleDateString('de-DE', { weekday:"long", year:"numeric", month:"short"}));</script></p>
    </header>

    <section class="slide" id="cover">
        <h2>.NET Usergroup | Meetup Dortmund Keynote</h2>
        <p>Christof Konstantinopoulos | Marc Biegota | Paul Mizel</p>
		<p><img src="pictures/do-dotnet.png" /></p>
        <figure>
            <img class="cover" src="pictures/cover.jpg" alt="Hands on the orange typewriter in a park">
            <figcaption class="copyright right white">
                <a href="https://www.do-dotnet.de">© Paul Mizel</a>
            </figcaption>
        </figure>
        <style>
            #cover h2 {
                margin: 30px 0 0;
                color: rgba(47, 55, 61, 0.95);
                text-align: center;
                font-size: 70px;
            }

            #cover p {
                margin: 10px 0 0;
                text-align: center;
                color: rgba(47, 55, 61, 0.95);
                font-style: normal;
                font-size: 20px;
            }

            #cover p a {
                color: white;
            }
        </style>
    </section>
	
	<section class="slide" id="cover">
        <figure>
            <img class="cover" src="pictures/meetups.jpg" alt=".NET Meetup Dortmund">
            <figcaption class="copyright right white">
                <a href="https://paulmizel.com">© Paul Mizel</a>
            </figcaption>
        </figure>
        <style>
            #cover h2 {
                margin: 30px 0 0;
                color: white;
                text-align: center;
                font-size: 70px;
            }

            #cover p {
                margin: 10px 0 0;
                text-align: center;
                color: white;
                font-style: italic;
                font-size: 20px;
            }

            #cover p a {
                color: white;
            }
        </style>
    </section>
	
	

    <section class="slide">
        <h2>Wann? Wo?</h2>
        <ul>
            <li>Jeden Monat seit 14.01.2008</li>
            <li>Wenn möglich immer am ersten Mittwoch im Monat um 18 Uhr</li>
            <li>Umgebung Dortmund</li>
        </ul>
        <p class="note">Mehr unter: meetup.com und do-dotnet.de</p>
    </section>

    <section class="slide">
        <h2>Wie viel kostet das?</h2>
        <ul>
            <li>Unsere Treffen sind kostenlos</li>
            <li>Jeder ist herzlich willkommen</li>
            <li>Jeder kann ein Thema und/oder einen Sprecher vorschlagen</li>
			<li>Wer möchte kann auch selber einen Vortrag halten</li>
        </ul>
    </section>

    <section class="slide">
        <h2>Neueste Infos und Kontakt zu uns</h2>
        <div class="columns two">
            <p>
				<img src="pictures/meetup.png"></img><br/>
				<strong>www.meetup.com</strong>			
			</p>
            <p>
				<img src="pictures/do-dotnet.png"></img><br/>
				<strong>www.do-dotnet.de</strong>
			</p>
        </div>
		<p class="note">=> Zu den Treffen bitte <strong>anmelden</strong>, damit wir planen können !</p>
    </section>

    <section class="slide">
        <h2>Die nächsten Termine</h2>
        <ul>
            <li>Mi. 02.08 - Einführung in Pine Skript – Paul Mizel</li>
            <li>Mi. 06.09 - noch frei -</li>            
            <li>Mi. 04.10 - Trending in Software Engineering – Veit Jahn</li>
			<li>Mi. 08.11 - noch frei -</li>
			<li>Mi. 06.12 - noch frei -</li>
        </ul>
    </section>

	<section class="slide" id="sponsors">
        <h2>Partner & Sponsoren</h2>
        <table>
        <tr>
            <td><img src="../images/adesso.png" /></th>            
            <td><img src="../images/brockhaus-ag.png" /></td>            
            <td><img src="../images/maximago.png" /></td>
            <td><img src="../images/echtnice.png" /></td>
        </tr>
        <tr>
            <td><img src="../images/rwe.png" /></td>
            <td><img src="../images/megla.png" /></td>
            <td><img src="../images/it-visions.png" /></td>
            <td><img src="../images/5minds.png" /></td>                       
        </tr>
        <tr>
            <td><img src="../images/fh-dortmund.png" /></th>
            <td><img src="../images/tu-dortmund.png" /></th>
            <td><img src="../images/jetbrains.png" /></td>             
            <td><img src="../images/netfoundation.png" /></td>  
        </tr>
        </table>
        <p>Weitere Sponsoren sind immer Willkommen!</p>
        <style>            
            #sponsors img {
                width: 5em;                				
            }
        </style>
    </section>
	
	<section class="slide">
        <h2 class="shout shrink">Jetzt können wir auch applaudieren!</h2>
    </section>
	

    <section class="slide" id="picture">
        <h2>Fotos</h2>
        <figure>
            <img class="cover" src="pictures/picture.jpg" alt="Meetup fotos">
            <figcaption class="copyright right white">
                <a href="https://paulmizel.com">© Paul Mizel</a>
            </figcaption>
        </figure>
        <style>
            #picture h2 {
                color: white;
            }
        </style>
    </section>

    <section class="slide" id="see-more">
        <h2 class="shout">            
            <img src="pictures/do-dotnet-big.png" alt="DO-DOTNET Logo">
        </h2>
        <style>
            #see-more h2 {
                font-size: 100px
            }

            #see-more img {
                width: 5em;
                height: 5em;
				opacity: 0.7;
            }
        </style>
    </section>

    <footer class="badge">
        <a href="https://www.do-dotnet.de">Website</a>
    </footer>

    <div class="progress"></div>

    <script src="shower/shower.js"></script>
    <!-- Copyright © 3000 Yours Truly, Famous Inc. -->

</body>
</html>
