<!-- about
================================================== -->
<section id='about' class="s-about">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead subhead--dark">Hello There</h3>
            <h1 class="display-1 display-1--light">We Are ETH.RUHR</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row about-desc" data-aos="fade-up">
        <div class="col-full">
            <p>
                Formerly Germany's coal-mining region, the Ruhrgebiet forms one of the largest
                conurbations in Europe with 5+
                million residents and is now known for its diverse and vibrant cultural scene.
                Bochum, Dortmund, Duisburg, Essen, Oberhausen and many other towns and cities combine
                to form a fascinating urban area that is full of surprises.
            </p>
        </div>
    </div> <!-- end about-desc -->

    <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">

        <div class="col-block stats__col ">
            <div class="stats__count">127</div>
            <h5>Awards Received</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">1505</div>
            <h5>Cups of Coffee</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">109</div>
            <h5>Projects Completed</h5>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">102</div>
            <h5>Happy Clients</h5>
        </div>

    </div> <!-- end about-stats -->

    <div class="about__line"></div>

</section> <!-- end s-about -->