<!-- About Section Start -->
<div id="about" class="main-section">
    <div class="container">
        <h2>About us</h2>
        <div class="row" style="margin-right: 0; margin-left: 0;" data-aos="fade-up" data-aos-delay="300">
            <div>
                <p>
                    Die Dortmunder .NET User Group ist eine User Group in Dortmund mit monatlichen Treffen. Diese Gruppe bringt professionelle Entwickler, Architekten, Studenten, Manager, Anfänger und Enthusiasten zum Thema .NET in der Region Dortmund zusammen.
                    <br/><br/>
                    Dahinter steckt die Idee zu kollaborieren, Vorträge zu halten, Wissen, Ideen und Gedanken auszutauschen, Probleme zu diskutieren, Meinungen kund zu tun, neue Projekte anzukündigen, Freundschaften zu schliessen, Code oder einfach nur das Treffen von Menschen mit dem gemeinsamen Interesse .NET.
                    <br/><br/>
                    Das "Do" in Do-DotNet steht nicht nur für das Dortmunder KFZ-Kennzeichen,
                    sondern auch als Aufforderung für jeden, etwas im Bereich der .Net-Entwicklung zu tun!
                    Sei es als Anfänger im .Net-Bereich, für Berufstätige im Microsoft-Umfeld oder für jeden .Net-Experten! Do .NET!

                <h3>Ziele der .NET User Group Dortmund:</h3>

                <ul>
                    <li>Austausch von Wissen und Erfahrungen mit dem Schwerpunkt .NET
                    </li>
                    <li>Gegenseitige Unterstützung bei technologischen Fragen rund um das Thema .NET
                    </li>
                    <li>Vorstellung und Erlernen aktueller und neuer Technologien
                    </li>
                    <li>Fachgespräche mit Gleichgesinnten
                    </li>
                    <li>Knüpfen von interessanten Kontakten </li>
                </ul>

                <h3>Zielgruppe der .NET User Group Dortmund:</h3>

                <ul>
                    <li>Studenten
                    </li>
                    <li>Entwickler
                    </li>
                    <li>Architekten
                    </li>
                    <li>Manager
                    </li>
                    <li>Anfänger und Enthusiasten
                    </li>
                    <li>Interessierte an Themen rund um IT</li>
                </ul>

                <h3>Betreiber der .NET User Group Dortmund:</h3>

                <div class="row">
                    <div class="col-md-3">

                        Paul Mizel
                        <br/>
                        <img src="images/xing_btn.png" alt="Paul Mizel"/>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        Christof Konstantinopoulos
                        <br/>
                        <img src="images/xing_btn.png" alt="Christof Konstantinopoulos"/>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->