<!-- Download Section Start -->
<div id="download" style="padding-top: 50px;">
    <div class="container">
        <h2>Download</h2>
        <div class="row" style="margin-right: 0; margin-left: 0;" data-aos="fade-up" data-aos-delay="300">
            <div>
                <p>
                Hier finden wir die Unterlagen...
                </p>
                <h3>Templates</h3>



                <h3>Wallpaper</h3>

                <div class="row">
                    <div class="col-md-3">
                        <img src="images/bg-gray-m.png" alt="asure" class="image img-fluid" />
                    </div>
                    <div class="col-md-3">
                        <img src="images/bg-greenline-m.png" alt="asure" class="image img-fluid" />
                    </div>
                    <div class="col-md-3">
                        <img src="images/bg-greentext-m.png" alt="asure" class="image img-fluid" />
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <h3>Presskit</h3>


                <h3>Key Presenter</h3>


                <p>kommt alles noch
                    Für das nächste Treffen von der User Group zum Thema "Tipps und Tricks in VS" wurde ein Tool entwickelt mit dem es möglich ist eingegebene Short-Keys auf dem Desktop anzuzeigen.

                    Wofür ist das Tool geeignet?

                    Jeder der Präsentationen oder Webcasts macht wünscht sich des öfteren, dass die Anwesenden sehen können was auf der Tastatur gedrückt oder getippt wird.
                    Dieses kleine Tool hilft euch genau an dieser Stelle weiter! Einfach mal ausprobieren!



                </p>
            </div>
        </div>
    </div>
</div>
<!-- Download Section End -->