<!-- Download Section Start -->
<div id="download" class="main-section">
    <div class="container">
        <h2>Download</h2>
        <div class="row" style="margin-right: 0; margin-left: 0;" data-aos="fade-up" data-aos-delay="300">
            <div>
                <p>
                    An dieser Stelle findet ihr Logos und Unterlagen von und für die .NET UG Dortmund.
                </p>
                <h3>Templates</h3>
                <p>
                    Powerpoint Master : <a class="btn btn-success" href="download/do-dotnet template.potx"
                                                          target="_blank">Download</a>
                </p>
                <h3>Wallpaper</h3>

                <div class="row">
                    <div class="col-md-3">
                        <a href="images/bg-gray.png" target="_blank">
                            <img src="images/bg-gray-m.png" alt="asure" class="image img-fluid"/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/bg-greenline.png" target="_blank">
                            <img src="images/bg-greenline-m.png" alt="asure" class="image img-fluid"/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/bg-greentext.png" target="_blank">
                            <img src="images/bg-greentext-m.png" alt="asure" class="image img-fluid"/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/bg-red.png" target="_blank">
                            <img src="images/bg-red-m.png" alt="asure" class="image img-fluid"/>
                        </a>
                    </div>


                </div>

                <h3 class="hidden-mobile">Presskit</h3>

                <div class="row hidden-mobile">
                    <div class="col-md-3">
                        <a href="images/logo-big-black.png" target="_blank">
                            <img src="images/logo-big-black-m.png" alt="asure" class="image img-fluid"/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/logo-big-black-transparent.png" target="_blank">
                            <img src="images/logo-big-black-transparent-m.png" alt="asure" class="image img-fluid"
                                 style="background-color: green; "/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/logo-big-white.png" target="_blank">
                            <img src="images/logo-big-white-m.png" alt="asure" class="image img-fluid"/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/logo-big-white-transparent.png" target="_blank">
                            <img src="images/logo-big-white-transparent-m.png" alt="asure"
                                 class="image img-fluid"
                                 style="background-color: green; "
                            />
                        </a>
                    </div>

                    <div class="col-md-3">
                        <a href="images/logo-c-big-black.png" target="_blank">
                            <img src="images/logo-c-big-black-m.png" alt="asure" class="image img-fluid"/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/logo-c-big-black-transparent.png" target="_blank">
                            <img src="images/logo-c-big-black-transparent-m.png" alt="asure" class="image img-fluid"
                                 style="background-color: green; "/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/logo-c-big-white.png" target="_blank">
                            <img src="images/logo-c-big-white-m.png" alt="asure" class="image img-fluid"/>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="images/logo-c-big-white-transparent.png" target="_blank">
                            <img src="images/logo-c-big-white-transparent-m.png" alt="asure"
                                 class="image img-fluid"
                                 style="background-color: green; "
                            />
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- Download Section End -->