<div class="row">
    <div class="col-md-2">
        Mi. 10.01
    </div>
    <div class="col-md-10">
        Was bringen C# 7.x/8.0 mit Holger
    </div>
    <div class="col-md-2">
        Mi. 07.02
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 14.03
    </div>
    <div class="col-md-10">
        Blockchain unter .NET mit Paul
    </div>
    <div class="col-md-2">
        Mi. 04.04
    </div>
    <div class="col-md-10">
        Einf端hrung in Puppeteer mit Paul
    </div>
    <div class="col-md-2">
        Mi. 02.05
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 06.06
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 04.07
    </div>
    <div class="col-md-10">
        Einf端hrung in Roslyn mit Alexander
    </div>
    <div class="col-md-2">
        Mi. 01.08
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 05.09
    </div>
    <div class="col-md-10">
        Einf端hrung in TPL mit Dirk
    </div>
    <div class="col-md-2">
        Mi. 10.10
    </div>
    <div class="col-md-10">
        Einf端hrung in Smart-Contracts mit Fabian
    </div>
    <div class="col-md-2">
        Mi. 07.11
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 12.12
    </div>
    <div class="col-md-10">
        Build Automation mit Alex
    </div>
</div>