<!-- About Section Start -->
<div id="events" class="main-section">
    <div class="container">
        <h2>Events</h2>
        <div class="row" style="margin-right: 0; margin-left: 0;" data-aos="fade-up" data-aos-delay="300">
            <div class="col-md-12">
                Unsere Treffen sind kostenlos und jeder ist herzlich willkommen.
                Alle weiteren Informationen kommen über die Gruppen bei XING, FB bzw. stehen auf der WebSite
                do-dotnet.de.
                <br/><br/>
                Die Treffen finden jeden Monat immer in der ersten Woche am Mittwoch statt.*
            </div>
            <div class="col-md-12">
                <div class="row mt-3">
                    <div class="col-md-3 col-6">
                        Termine importieren
                    </div>
                    <div class="col-md-3 col-6">
                        <a class="btn btn-success form-control" href="download/NET_User_Group_Dortmund_Treffen.ics"
                           target="_blank">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#year2019">2019</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year2018">2018</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year2017">2017</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year2016">2016</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active container" id="year2019">

                        <%- partial("_events2019") %>

                    </div>
                    <div class="tab-pane container" id="year2018">

                        <%- partial("_events2018") %>

                    </div>
                    <div class="tab-pane container" id="year2017">

                        <%- partial("_events2017") %>

                    </div>
                    <div class="tab-pane container" id="year2016">

                        <%- partial("_events2016") %>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- About Section End -->
