<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2">
                Mi. 09.01
            </div>
            <div class="col-md-10">
                ausgefallen
            </div>
            <div class="col-md-2">
                Mi. 06.02
            </div>
            <div class="col-md-10">
                Asynchronous messaging with Rebus mit Mogens (EN)
            </div>
            <div class="col-md-2">
                Mi. 06.03
            </div>
            <div class="col-md-10">
                Software meets reality Part I mit Christof Konstantinopoulos
            </div>
            <div class="col-md-2">
                Mi. 03.04
            </div>
            <div class="col-md-10">
                Einführung in Rust und WebAssembly mit Paul und Fabian
            </div>
            <div class="col-md-2">
                Mi. 08.05
            </div>
            <div class="col-md-10">
                Railway Oriented Programming mit Patrick Drechsler
            </div>
            <div class="col-md-2">
                Mi. 12.06
            </div>
            <div class="col-md-10">
                Software meets reality Part II mit Christof Konstantinopoulos
            </div>
            <div class="col-md-2">
                Mi. 03.07
            </div>
            <div class="col-md-10">
                Einführung in PowerBI
            </div>
            <div class="col-md-2">
                Mi. 07.08
            </div>
            <div class="col-md-10">
                Ausgefallen
            </div>
            <div class="col-md-2">
                Mi. 04.09
            </div>
            <div class="col-md-10">
                Dependency Injection .NET with Steven van Deursen
            </div>
            <div class="col-md-2">
                Mi. 02.10
            </div>
            <div class="col-md-10">
                noch frei
            </div>
            <div class="col-md-2">
                Mi. 06.11
            </div>
            <div class="col-md-10">
                noch frei
            </div>
            <div class="col-md-2">
                Mi. 04.12
            </div>
            <div class="col-md-10">
                noch frei
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--<a href="http://basta.net"
           target="_blank">
            <img src="images/BASTA_Spring 2019.jpg" alt="basta konferenz" class="img img-fluid"/>
        </a>-->
    </div>
</div>
