<div class="row">
			<div class="col-md-2">
                <b>2022 Dez.</b><br>Mi. 07.12
            </div>
            <div class="col-md-10">
				Wir treffen uns wieder!<br/>Ein "Restart" der .net User Group Dortmund.
            </div>
			<div class="col-md-12">
                <hr/>
            </div>
            <div class="col-md-2">
                Mi. 11.01
            </div>
            <div class="col-md-10">
                C# 11 mit Martin Pöpel
            </div>
            <div class="col-md-2">
                Mi. 01.02
            </div>
            <div class="col-md-10">
                Neues in C#, ASP.NET und Entity Framework mit Holger Schwichtenberg
            </div>
            <div class="col-md-2">
                Mi. 01.03
            </div>
            <div class="col-md-10">
                ungeplant
            </div>
            <div class="col-md-2">
                Mi. 05.04
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 03.05
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 07.06
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 05.07
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 02.08
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 06.09
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 04.10
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 08.11
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 06.12
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
</div>

<!--Blazor, die Hoffnung für JavaScript-Hasser: Single-Page-Web-Apps endlich mit .NET und C#! mit Holger Schwichtenberg-->
<!--Einführung in OpenValidation mit Ilja Leyberman-->