<div class="row">
    <div class="col-md-2">
        Mi. 13.01
    </div>
    <div class="col-md-10">
        Einführung in ContentMonkee mit Paul
    </div>
    <div class="col-md-2">
        Mi. 03.02
    </div>
    <div class="col-md-10">
        Einführung in PowerBI mit Paul
    </div>
    <div class="col-md-2">
        Mi. 02.03
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 06.04
    </div>
    <div class="col-md-10">
        Einführung in Swagger mit Andre
    </div>
    <div class="col-md-2">
        Mi. 04.05
    </div>
    <div class="col-md-10">
        Einführung in MongoDB .NET mit Paul
    </div>
    <div class="col-md-2">
        Mi. 01.06
    </div>
    <div class="col-md-10">
        Einführung in MicroServices mit Maik
    </div>
    <div class="col-md-2">
        Mi. 06.07
    </div>
    <div class="col-md-10">
        Echte Cross-Plattform-Apps mit Angular2 mit Christian
    </div>
    <div class="col-md-2">
        Mi. 03.08
    </div>
    <div class="col-md-10">
        Einführung in das PRIG mit Alexander
    </div>
    <div class="col-md-2">
        Mi. 06.09
    </div>
    <div class="col-md-10">
        ...
    </div>
    <div class="col-md-2">
        Mi. 05.10
    </div>
    <div class="col-md-10">
        ...
    </div>
    <div class="col-md-2">
        Mi. 02.11
    </div>
    <div class="col-md-10">
        ...
    </div>
    <div class="col-md-2">
        Mi. 07.12
    </div>
    <div class="col-md-10">
        Einführung in CI/CD in VSO mit Paul
    </div>
</div>
