<div class="row">
    <div class="col-md-2">
        Mi. 16.01
    </div>
    <div class="col-md-10">
        Einführung in Rust mit Paul
    </div>
    <div class="col-md-2">
        Mi. 06.02
    </div>
    <div class="col-md-10">
        Reserviert von Christof
    </div>
    <div class="col-md-2">
        Mi. 06.03
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 03.04
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 01.05
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 05.06
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 03.07
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 07.08
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 04.09
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 02.10
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 06.11
    </div>
    <div class="col-md-10">
        noch frei
    </div>
    <div class="col-md-2">
        Mi. 04.12
    </div>
    <div class="col-md-10">
        noch frei
    </div>
</div>