<div class="row">
            <div class="col-md-2">
                Mi. 08.01
            </div>
            <div class="col-md-10">
                Einführung in SapphireDb - Alternative zu Firebase DB für ASP.NET Core mit Morris
            </div>
            <div class="col-md-2">
                Mi. 05.02
            </div>
            <div class="col-md-10">
                ASP.NET Core und Entity Framework Core Best Practices mit Sebastian Kleinschmager
            </div>
            <div class="col-md-2">
                Mi. 04.03
            </div>
            <div class="col-md-10">
                Erfahrungsbericht : Code Katas für mehr Clean Code mit Özgür Ergel
            </div>
            <div class="col-md-2">
                Mi. 08.04
            </div>
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                Mi. 06.05
            </div>
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                Mi. 03.06
            </div>
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                Mi. 01.07
            </div>
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                Mi. 05.08
            </div>
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                Mi. 02.09
            </div>
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                Mi. 07.10
            </div>
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                Mi. 04.11
            </div>
            <div class="col-md-10">

            </div>
            <div class="col-md-2">
                Mi. 02.12
            </div>
            <div class="col-md-10">

            </div>
</div>
