<!-- About Section Start -->
<div id="events" class="main-section">
    <div class="container">
        <h2>Events</h2>
        <div class="row" style="margin-right: 0; margin-left: 0;" data-aos="fade-up" data-aos-delay="300">
            <p>
            Unsere Treffen sind kostenlos und jeder ist herzlich willkommen.
            Alle weiteren Informationen kommen über die Gruppen bei XING, FB bzw. stehen auf der WebSite do-dotnet.de.
            </p>
            <div class="col-md-12">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#year2019">2019</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year2018">2018</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#year2017">2017</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active container" id="year2019">

                        <div class="row">
                            <div class="col-md-2">
                            Mi. 09.01
                            </div>
                            <div class="col-md-10">
                                Einführung in Rust mit Paul
                            </div>
                            <div class="col-md-2">
                                Mi. 02.02
                            </div>
                            <div class="col-md-10">
                                Mit Christoph
                            </div>
                            <div class="col-md-2">
                                Mi. 02.03
                            </div>
                            <div class="col-md-10">
                                Mit Christoph
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane container" id="year2018">
                        Lorem Ipsum is simply dummy text of the p
                    </div>
                    <div class="tab-pane container" id="year2017">
                        Lorem Ipsum is simply dummy text of the pLorem Ipsum is simply dummy text of the p
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                Social Links kommen hier.
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->


<div id="social" class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3">
                <a href="https://www.xing.com/communities/groups/punkt-net-user-group-dortmund-23e1-1012640" target="_blank">
                    <i class="fa fa-xing" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="https://www.facebook.com/groups/123526311063752/?ref=bookmarks" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
    </div>
</div>