<div class="row">
            <div class="col-md-2">
                Mi. 11.01
            </div>
            <div class="col-md-10">
                C# 11 mit Martin Pöpel
            </div>
            <div class="col-md-2">
                Mi. 01.02
            </div>
            <div class="col-md-10">
                Entity Framework Core 7.0 – der Stand der Dinge beim OR-Mapping mit Holger Schwichtenberg 
            </div>
            <div class="col-md-2">
                Mi. 01.03
            </div>
            <div class="col-md-10">
                Mit StyleCop und SonarQube zum CleanCode mit Alexander Flekler
            </div>
            <div class="col-md-2">
                Mi. 05.04
            </div>
            <div class="col-md-10">
				Terraform mit AWS und PostgreSQL - Ein Erfahrungsbericht mit Björn Lundström
            </div>
            <div class="col-md-2">
                Mi. 03.05
            </div>
            <div class="col-md-10">
				Autofac incl. Einführung in IoC und DIP mit Alexander Flekler 
            </div>
            <div class="col-md-2">
                Mi. 07.06
            </div>
            <div class="col-md-10">
				Vom DIP zum IOSP mit Stefan Lieser (Grillevent)
            </div>
            <div class="col-md-2">
                Mi. 05.07
            </div>
            <div class="col-md-10">
				Rapid Application Development mit Hasura – Johannes Katzer 
            </div>
            <div class="col-md-2">
                Mi. 02.08
            </div>
            <div class="col-md-10">
				Einführung in Pine Skript - Paul Mizel
            </div>
            <div class="col-md-2">
                Mi. 06.09
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 04.10
            </div>
            <div class="col-md-10">
				Trending in Software Engineering – Veit Jahn
            </div>
            <div class="col-md-2">
                Mi. 08.11
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
            <div class="col-md-2">
                Mi. 06.12
            </div>
            <div class="col-md-10">
				ungeplant
            </div>
</div>

<!--Blazor, die Hoffnung für JavaScript-Hasser: Single-Page-Web-Apps endlich mit .NET und C#! mit Holger Schwichtenberg-->
<!--Einführung in OpenValidation mit Ilja Leyberman-->

