<div class="row">
            <div class="col-md-2">
                Mi. 05.01
            </div>
            <div class="col-md-10">
                Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 02.02
            </div>
            <div class="col-md-10">
                Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 02.03
            </div>
            <div class="col-md-10">
                Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 06.04
            </div>
            <div class="col-md-10">
				Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 04.05
            </div>
            <div class="col-md-10">
				Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 01.06
            </div>
            <div class="col-md-10">
				Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 06.07
            </div>
            <div class="col-md-10">
				Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 03.08
            </div>
            <div class="col-md-10">
				Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 07.09
            </div>
            <div class="col-md-10">
				Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 05.10
            </div>
            <div class="col-md-10">
				Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 02.11
            </div>
            <div class="col-md-10">
				Fällt wegen COVID-19 aus
            </div>
            <div class="col-md-2">
                Mi. 07.12
            </div>
            <div class="col-md-10">
				Wir treffen uns wieder! - Ein "Restart" der .net User Group Dortmund.
            </div>
</div>

<!--Blazor, die Hoffnung für JavaScript-Hasser: Single-Page-Web-Apps endlich mit .NET und C#! mit Holger Schwichtenberg-->
<!--Einführung in OpenValidation mit Ilja Leyberman-->