<div class="row">
    <div class="col-md-2">
        Mi. 04.01
    </div>
    <div class="col-md-10">
        Einführung in CommandQL mit Paul
    </div>
    <div class="col-md-2">
        Mi. 01.02
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 01.03
    </div>
    <div class="col-md-10">
        Einführung OzCode mit Fabian
    </div>
    <div class="col-md-2">
        Mi. 05.04
    </div>
    <div class="col-md-10">
        .NET Core mit Morris
    </div>
    <div class="col-md-2">
        Mi. 03.05
    </div>
    <div class="col-md-10">
        Einführung in GraphQL mit Fabian
    </div>
    <div class="col-md-2">
        Mi. 07.06
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 05.07
    </div>
    <div class="col-md-10">
        Einführung TPL DataFlow mit Christian
    </div>
    <div class="col-md-2">
        Mi. 02.08
    </div>
    <div class="col-md-10">
        ausgefallen
    </div>
    <div class="col-md-2">
        Mi. 06.09
    </div>
    <div class="col-md-10">
        Einführung in Angular4 mit Morris
    </div>
    <div class="col-md-2">
        Mi. 04.10
    </div>
    <div class="col-md-10">
        Einführung in Portainer / Kaitmatic mit Andre
    </div>
    <div class="col-md-2">
        Mi. 08.11
    </div>
    <div class="col-md-10">
        Einführung in TFS / GIT und GitFlow mit Paul
    </div>
    <div class="col-md-2">
        Mi. 06.12
    </div>
    <div class="col-md-10">
        Retrospektive als Verbesserungsmethode mit Paul
    </div>
</div>
