<div class="row">
            <div class="col-md-2">
                Mi. 09.01
            </div>
            <div class="col-md-10">
                ausgefallen
            </div>
            <div class="col-md-2">
                Mi. 06.02
            </div>
            <div class="col-md-10">
                Asynchronous messaging with Rebus mit Mogens (EN) <a href="download/presentations/asynchronous-messaging-with-rebus.pdf" target="_blank"><i class="fa fa-download pull-right"></i></a>
            </div>
            <div class="col-md-2">
                Mi. 06.03
            </div>
            <div class="col-md-10">
                Software meets reality Part I mit Christof Konstantinopoulos
            </div>
            <div class="col-md-2">
                Mi. 03.04
            </div>
            <div class="col-md-10">
                Einführung in Rust und WebAssembly mit Fabian und Paul
            </div>
            <div class="col-md-2">
                Mi. 08.05
            </div>
            <div class="col-md-10">
                Railway Oriented Programming mit Patrick Drechsler
            </div>
            <div class="col-md-2">
                Mi. 12.06
            </div>
            <div class="col-md-10">
                Software meets reality Part II mit Christof Konstantinopoulos
            </div>
            <div class="col-md-2">
                Mi. 03.07
            </div>
            <div class="col-md-10">
                Einführung in PowerBI mit Philipp Lenz
            </div>
            <div class="col-md-2">
                Mi. 07.08
            </div>
            <div class="col-md-10">
                ausgefallen
            </div>
            <div class="col-md-2">
                Mi. 04.09
            </div>
            <div class="col-md-10">
                Dependency Injection .NET with Steven van Deursen <a href="download/presentations/di-what-changed-redistributable.pptx" target="_blank"><i class="fa fa-download pull-right"></i></a>
            </div>
            <div class="col-md-2">
                Mi. 02.10
            </div>
            <div class="col-md-10">
                Einführung in Docker mit Peter Biermann <a href="download/presentations/docker-fuer-dotnedders.pdf" target="_blank"><i class="fa fa-download pull-right"></i></a>
            </div>
            <div class="col-md-2">
                Mi. 06.11
            </div>
            <div class="col-md-10">
                Einführung in Unity Teil I mit Fabian und Paul
            </div>
            <div class="col-md-2">
                Mi. 04.12
            </div>
            <div class="col-md-10">
                Einführung in Unity Teil II mit Paul
            </div>
</div>
