<section class="section-footer">
	<!-- Footer -->
	<footer class="page-footer font-small stylish-color-dark">

		<!-- Footer Links -->
		<div class="container text-center text-md-left">

			<!-- Grid row -->
			<div class="row">

				<!-- Grid column -->
				<div class="col-lg-12 col-sm-12 mx-auto box-1">

					<!-- Content -->
					<a href="index.html"><img src="images/footer-logo.png" alt="footer-logo"></a>
					<p class="justify">
						Die Dortmunder .NET User Group ist eine User Group in Dortmund mit monatlichen Treffen.
						Diese Gruppe bringt professionelle Entwickler, Architekten, Studenten, Manager, Anfänger
						und Enthusiasten zum Thema .NET in der Region Dortmund zusammen.
						<br/><br/>
						Wer Lust und Zeit hat, besucht uns einfach auf einem unserer Treffen.
						Es wird Wert auf ein unkompliziertes Miteinander gelegt, deshalb gibt es keine formale
						Mitgliedschaft, die Teilnahme an den Treffen ist kostenlos und eine explizite Anmeldung zu den
						Treffen ist auch nicht notwendig.
						<br/><br/>
						Alles nach dem Motto "Vorbeikommen, nette Leute treffen und Spaß haben".
						<br/><br/>
						P.s.: Wir sind immer auf der Suche nach Leuten die Lust haben auf die Softwareentwicklung.
					</p>
				</div>
				<!-- Grid column -->

				<hr class="clearfix w-100 d-md-none">

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center">
			<div class="gradient"></div>
			<p>© 2008-2019 do-dotnet.de</p>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
</section>