    <header class="header bg">
        <div class="container text-white">
            <div class="row">
                <div class="col-sm-4 align-self-center text-left">
                    <h6>Estd 2008</h6>
                </div>
                <div class="col-sm-4 col-12 align-self-center box-1 text-center">
                    <a class="navbar-brand" href="index.html"><img src="images/header-logo.png" alt="logo"></a>
                </div>
                <div class="col-sm-4 align-self-center text-right">
                    <div class="social-icons">
                        <a href="https://www.meetup.com/de-DE/NET-Dortmund-Meetup" target="_blank"><i class="fa fa-meetup" aria-hidden="true"></i></a>
						<a href="https://www.youtube.com/@do-dotnet"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <!--<a href="https://www.facebook.com/groups/123526311063752/?ref=bookmarks" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>-->
                        <a href="https://github.com/dodotnet" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
						<a href="https://www.twitter.com/PaulMizel" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>                        
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--container-->
    </header>
	
	<span class="position-absolute trigger"><!-- hidden trigger to apply 'stuck' styles --></span>
	
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">Über uns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#sponsors">Sponsoren</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#download">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="impress.html">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--container end-->
    </nav>