<!-- header
================================================== -->
<header class="header">

    <div class="header-logo">
        <a class="site-logo" href="index.html">
            LOGO
        </a>
    </div>

    <nav class="header-nav">
		NAVIGATION
    </nav>  <!-- end header-nav -->

</header> <!-- end s-header -->