    <section class="section-1">
        <div class="jumbotron d-flex align-items-center">
            <div class="gradient"></div>
            <div class="container-fluid content">
                <h1 data-aos="fade-up" data-aos-delay="100">Willkommen zur Do.NET</h1>
                <h2 data-aos="fade-up" data-aos-delay="300">Die .NET User Group Dortmund</h2>
                <h4 data-aos="fade-up" data-aos-delay="500">Wir stehen für persönlichen Wissensaustausch und Bildung</h4>
                <p data-aos="fade-up" data-aos-delay="700"><a href="about.html" class="btn btn-success">Mehr lesen</a></p>
            </div>
            <!--container-fluid end-->
        </div>
    </section>
    <!--Section-2-->
    <section class="section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-12 box-1">
                    <div class="row box" data-aos="fade-left" data-aos-delay="300">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="services.html">design.</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and</p>
                            <p><a href="services.html"><img src="images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 box-2">
                    <div class="row box" data-aos="fade-left" data-aos-delay="500">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="services.html">coding.</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and</p>
                            <p><a href="services.html"><img src="images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 box-3">
                    <div class="row box" data-aos="fade-left" data-aos-delay="700">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="services.html">support.</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and</p>
                            <p><a href="services.html"><img src="images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="container">
            <div class="row m-0">
                <div class="col-lg-5 col-md-12 p-0" data-aos="fade-right" data-aos-delay="300">
                    <h2>What we do <span>And why select us?</span></h2>
                    <ul>
                        <li><a href="services.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Web Designing</a> </li>
                        <li><a href="services.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Corporate Identity</a></li>
                        <li><a href="services.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Domain Names</a></li>
                        <li><a href="services.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Wordpress Development</a></li>
                        <li><a href="services.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Logo Design</a></li>
                        <li><a href="services.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Photography</a></li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-12 p-0" data-aos="fade-left" data-aos-delay="300">
                    <figure>
                        <img class="inner-img" src="images/services-bg2.jpg" alt="services">
                        <img class="out-sideimg" src="images/services-bg.jpg" alt="services">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <section class="section-4">
        <div class="container">
            <div class="row heading">
                <div class="col-sm-6 col-12">
                    <h3>Read our articles<span>We write beautiful blog</span></h3>
                </div>
                <div class="col-sm-6 col-12">
                    <a href="blog.html" class="btn btn-success">Read our full blog</a>
                </div>
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-12 box-1"  data-aos="fade-right" data-aos-delay="300">
                    <figure class="figure">
                        <a href="blog.html"><img src="images/blog-1.jpg" class="figure-img img-fluid" alt="blog"></a>
                        <figcaption class="figure-caption">
                            <h2><a href="blog.html">Beautiful girl holding her camera in neck for a photo shoot</a></h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five</p>
                            <a href="blog_single.html" class="btn btn-success">+ more</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-8 col-sm-12 col-12" data-aos="fade-left" data-aos-delay="300">
                    <div class="row" >
                        <div class="col-sm-6 col-12 box-2">
                            <figure class="figure">
                                <a href="blog.html"><img src="images/blog-2.jpg" class="figure-img img-fluid" alt="blog"></a>
                            </figure>
                        </div>
                        <div class="col-sm-6 col-12 box-3">
                            <h4><a href="blog.html">Girl working seriously on laptop in office hours</a></h4>
                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. specimen book. It has survived not only five</h5>
                            <a href="blog_single.html" class="btn btn-success">+ more</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12 box-4">
                            <figure class="figure">
                                <a href="blog.html"><img src="images/blog-3.jpg" class="figure-img img-fluid" alt="blog"></a>
                            </figure>
                        </div>
                        <div class="col-sm-6 col-12 box-5">
                            <h4><a href="blog.html">Girl working seriously on laptop in office hours </a></h4>
                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. specimen book. It has survived not only five</h5>
                            <a href="blog_single.html" class="btn btn-success">+ more</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-12 box-6">
                            <figure class="figure">
                                <a href="blog.html"><img src="images/blog-1.jpg" class="figure-img img-fluid" alt="blog"></a>
                            </figure>
                        </div>
                        <div class="col-sm-6 col-12 box-7">
                            <h4><a href="blog.html">Girl working seriously on laptop in office hours </a></h4>
                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. specimen book. It has survived not only five</h5>
                            <a href="blog_single.html" class="btn btn-success">+ more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--container-->
    </section>
    <!--Section-5-->
    <section class="section-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-8">
                    <h3>Check our portfolio <span>view some of the best works...</span></h3>
                </div>
                <div class="col-lg-5 col-sm-4">
                    <a href="portfolio.html" class="btn btn-success">Read our portfolio</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row"  data-aos="fade-up" data-aos-delay="300">
                <a href="images/portfolio-2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 box">
                  <img src="images/portfolio-2.jpg" class="img-fluid">
                  <div class="overlay">
                  <img src="images/plus-img.png" alt="plus-icon">
                  <div class="inner-text"><h4>beautiful beach <span>top view</span></h4></div>
                  </div>
                </a>
                <a href="images/portfolio-3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 box">
                  <img src="images/portfolio-3.jpg" class="img-fluid">
                  <div class="overlay">
                  <img src="images/plus-img.png" alt="plus-icon">
                  <div class="inner-text"><h4>beautiful beach <span>top view</span></h4></div>
                  </div>
                </a>
                <a href="images/portfolio-4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 box">
                  <img src="images/portfolio-4.jpg" class="img-fluid">
                  <div class="overlay">
                  <img src="images/plus-img.png" alt="plus-icon">
                  <div class="inner-text"><h4>beautiful beach <span>top view</span></h4></div>
                  </div>
                </a>
                <a href="images/portfolio-5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 box">
                  <img src="images/portfolio-5.jpg" class="img-fluid">
                  <div class="overlay">
                  <img src="images/plus-img.png" alt="plus-icon">
                  <div class="inner-text"><h4>beautiful beach <span>top view</span></h4></div>
                  </div>
                </a>
            </div>
            <!--/row-->
        </div>
        <!--container-->
    </section>
    <section class="section-6" data-aos="fade-up">
        <div class="container">
            <!-- Grid row-->
            <div class="row main" data-aos="fade-up" data-aos-delay="300">
                <!-- Grid column -->
                <div class="col-lg-6 col-sm-12 col1">
                    <div class="heading">
                        <h3>Subscribe to Newsletter</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col1">
                    <form>
                        <div class="input-group">
                            <input name="email" id="email" type="email" placeholder="Enter your email id" required>
                            <button class="btn btn-info" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>