<!-- services
  ================================================== -->
<section id='services' class="s-services">

    <div class="row section-header has-bottom-sep" data-aos="fade-up">
        <div class="col-full">
            <h3 class="subhead">How We Do</h3>
            <h1 class="display-2">Hackathon Rules</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row block-tab-full">

        <div class="col-block service-item" data-aos="fade-up">
            <div class="service-text">
                <p>
                    <br/>- YOU MUST BE AT ETH.RUHR 2019 TO WORK ON A PROJECT FOR SUBMISSION
                    <br/>- Your hack must be related to Ethereum
                    <br/>- You cannot work on your project before the event begins
                    <br/>- You cannot steal another team's source code
                    <br/>- The decision of judges is final for determining prizes and awards
                    <br/>- Please comply with all instructions from ETHRuhr organizers
                </p>
            </div>
        </div>

    </div> <!-- end services-list -->

</section> <!-- end s-services -->