<div id="social">
    <div class="container">
        <h3 class="text-center">Bleiben Sie immer auf dem neusten Stand</h3>
        <div class="row">
            <div class="col-sm-3 col-3">
            </div>
            <div class="col-sm-2 col-2 text-center">
                <a href="https://www.xing.com/communities/groups/punkt-net-user-group-dortmund-23e1-1012640"
                   target="_blank">
                    <i class="fa fa-xing" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-sm-2 col-2 text-center">
                <a href="https://www.facebook.com/groups/123526311063752/?ref=bookmarks" target="_blank">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </div>
            <div class="col-sm-2 col-2 text-center">
                <a href="https://www.twitter.com/PaulMizel" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-sm-3 col-3">
            </div>
        </div>
    </div>
</div>