<!-- Sponsors Section Start -->
<div id="sponsors" style="padding-top: 50px;">
    <div class="container">
        <h2>Sponsors</h2>
        <div class="row" style="margin-right: 0; margin-left: 0;" data-aos="fade-up" data-aos-delay="300">
            <div class="col-md-3">
                <img src="images/brockhaus-ag.png" alt="brockhaus-ag" class="image img-fluid" />
            </div>
            <div class="col-md-3">
                <img src="images/asure.jpg" alt="asure" class="image img-fluid" />
            </div>
            <div class="col-md-3">
                <img src="images/ethruhr.jpg" alt="asure" class="image img-fluid" />
            </div>
            <div class="col-md-3">
                <img src="images/jetbrains.png" alt="asure" class="image img-fluid" />
            </div>
            <div class="col-md-3">
                <img src="images/fh-dortmund.png" alt="asure" class="image img-fluid" />
            </div>
            <div class="col-md-3">
                <img src="images/echtnice.png" alt="asure" class="image img-fluid" />
            </div>
            <div class="col-md-3">
                <img src="images/it-visions.png" alt="asure" class="image img-fluid" />
            </div>
            <div class="col-md-3">
                <img src="images/megla.png" alt="asure" class="image img-fluid" />
            </div>
            <div class="col-md-3">
                <img src="images/maximago.png" alt="asure" class="image img-fluid" />
            </div>
        </div>
    </div>
</div>
<!-- Sponsors Section End -->