<!-- Sponsors Section Start -->
<div id="sponsors" class="main-section">
    <div class="container">
        <h2>Sponsors</h2>
        <div class="row" style="margin-right: 0; margin-left: 0;" data-aos="fade-up" data-aos-delay="300">
            <div class="col-md-3">
                <a href="http://asure.network" target="_blank">
                    <img src="images/asure.png" alt="asure" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://brockhaus-ag.de" target="_blank">
                <img src="images/brockhaus-ag.png" alt="brockhaus-ag" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.echtnice.com" target="_blank">
                    <img src="images/echtnice.png" alt="echtnice" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.eth.ruhr/" target="_blank">
                <img src="images/ethruhr.jpg" alt="ethruhr" class="image img-fluid" />
                </a>
            </div>

            <div class="col-md-3">
                <a href="http://fh-dortmund.de" target="_blank">
                <img src="images/fh-dortmund.png" alt="fh-dortmund" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://jetbrains.com" target="_blank">
                    <img src="images/jetbrains.png" alt="jetbrains" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" target="_blank">
                <img src="images/maximago.png" alt="maximago" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" target="_blank">
                    <img src="images/megla.png" alt="megla" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.red-gate.com" target="_blank">
                    <img src="images/redgate.png" alt="redgate" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.tu-dortmund.de" target="_blank">
                    <img src="images/tu-dortmund.png" alt="tu-dortmund" class="image img-fluid" />
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://it-visions.de" target="_blank">
                    <img src="images/it-visions.png" alt="it-visions" class="image img-fluid" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Sponsors Section End -->