<section class="section-top">
    <div class="jumbotron d-flex align-items-center">
        <div class="gradient"></div>
        <div class="container-fluid content">
            <h1 data-aos="fade-up" data-aos-delay="100">Willkommen zur Do.NET</h1>
            <h2 data-aos="fade-up" data-aos-delay="300">Die .NET User Group Dortmund</h2>
            <h4 data-aos="fade-up" data-aos-delay="500">Wir stehen für persönlichen Wissensaustausch und Bildung</h4>
            <p data-aos="fade-up" data-aos-delay="700"><a href="/#events" class="btn btn-success">Mehr lesen</a></p>
        </div>
        <!--container-fluid end-->
    </div>
</section>